@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000000;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
