# ===== Java / Spring =====
backend/target/
backend/.classpath
backend/.project
backend/.settings/
backend/.idea/
backend/*.iml

# ===== Node / Next =====
frontend/node_modules/
frontend/.next/
frontend/dist/
frontend/.env.local

# ===== Geral =====
.DS_Store
Thumbs.db
*.log

# ===== IDE =====
.vscode/
.idea/